
#container {
    position: relative;
    top: 20%;
    margin: auto;
    /*width: 340px;
    height: 445px;*/
    color: #808080;
    border-radius: 0.35em;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    padding-bottom: 0.5%;
    margin: 3% 30%;
}
#title {
    color: white;
    position: relative;
    background-color: #218093;
    width: 100%;
    padding: 20px 0px;
    border-radius: 0.35em;
    font-size: 30px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
    text-align : center;
}
#invert{
    
    background-color:#808080; 
	height: 40px;
  	width: 40px;
}
#submit{
    color: white;
	text-align: center;
    background-color: #34495e;
	font-size: 15px;
	font-weight:bold;
}
#form{
    padding: 0% 0% 2% 4.5% ;
}
#having_account{
    padding-top: 10px;
    color: #808080;
}