{% extends 'base.html' %}
{% load staticfiles %}

{% block stylesheet %}
  <link href = "http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel = "stylesheet">
  <link href="{% static 'css/registration.css' %}" rel="stylesheet">
  <link rel="stylesheet"  href=" {% static 'css/register.css' %}" >
{% endblock %}

{% block title %}Change Your Password?{% endblock %}

{% block content %}
<div id="container">
	<h2 id="title" style="padding-left: 20px; padding-right: 20px; ">
	Change Your Password?
  </h2>
  <form method="POST" style="margin-top: 20px">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Change Password" id="submit" style="text-align: center; margin-bottom: 20px; background-color: #218093;" class="button">
  </form>
</div>
{% endblock %}