<!-- templates/registration/password_reset_done.html -->
{% extends 'base.html' %}
{% load staticfiles %}

{% block stylesheet %}
  <link href = "http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel = "stylesheet">
  <link href="{% static 'css/registration.css' %}" rel="stylesheet">
  <link rel="stylesheet"  href=" {% static 'css/register.css' %}" >
{% endblock %}

{% block title %}Email Sent{% endblock %}

{% block content %}
<div id="container" style="padding: 20px;">
  <p>Your password has been successfully changed.</p>
<a href="{% url 'front_page' %}" class="button"><span>OK </span></a></div>
{% endblock %}
