{% extends 'base.html' %}

{% load staticfiles %}

{% block stylesheet %}
  <link href="{% static 'css/registration.css' %}" rel="stylesheet">
  <link rel="stylesheet"  href=" {% static 'css/register.css' %}" >
{% endblock %}

{% block javascript %}
  <script>
    $(function () {
      $('#id_username').focus();
    });
  </script>
{% endblock %}

{% block menu %}{% endblock %}

{% block content %}
<div id="container" >
  <h2 id="title">
   <img src="{% static 'img/lock.png' %}" id="invert_s">
    Sign Up
  </h2>
  <div id="form" style="color: #D0D0D0; font-size:  17px; ">
    <form method="post">
      {% csrf_token %}
      {% include 'includes/form.html' %}
      <div>
        <button type="submit" id="submit" >Create an account</button>
        <div id="having_account">Already have an account? <a href="{% url 'login' %}">Login</a></div>
      </div>
    </form>
  </div>
</div>
{% endblock %}
