{% extends 'base.html' %}

{% load staticfiles %}

{% block stylesheet %}
  <link href = "http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel = "stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="{% static 'css/registration.css' %}" rel="stylesheet">
  <link rel="stylesheet"  href=" {% static 'css/register.css' %}" >
{% endblock %}

{% block javascript %}
  <script>
    $(function () {
      $('#id_username').focus();
    });
  </script>
{% endblock %}

{% block menu %}{% endblock %}

{% block content %}
<div id="container" >
  <h2 id="title">
    Sign Up
  </h2>
  <div id="form" style= "font-size:  17px; ">
    <form method="post">
      {% csrf_token %}
      {% include 'includes/form.html' %}
      <div>
        <div style="font-size: 10px">[Password must contain 8 characters with atleast 1 numeric, 1 special character, 1 alphabet ]</div>
        <button type="submit" id="submit" >Create an account</button>
        <div id="having_account">Already have an account? <a href="{% url 'login' %}">Login</a></div>
      </div>
    </form>
  </div>
</div>
{% endblock %}
