<li>
  <div id="posttitle" >
  <a href="{{ story.url }}" target="_blank" rel="nofollow noopener" id="ptitle">{{ story.title }}</a>
</div>
<div id="reddit_post"> 
  <p >
    <div id="left" style=" text-transform: capitalize;">
    {{ story.score }} upvote{{ story.score|pluralize }}
    &bullet;
    {{ story.comments }} comment{{ story.comments|pluralize }}
    &bullet;
    {{ story.date|date:'M d, Y'|lower }}
  </div>
    <div id="bookmark_hn">
      {% include 'services/includes/bookmark_sec.html' %}
    </div>
  </p>
</div>
</li>