<li>
  <div id="posttitle">
  <a href="{{ story.url }}" target="_blank" rel="nofollow noopener" id="ptitle">{{ story.title }}</a>
  {% if story.nsfw %}
    <small class="nsfw">[nsfw]</small>
  {% endif %}
</div>
<div id="reddit_post"> 
  <p >
    <div id="left" style=" text-transform: capitalize;">
    {{ story.score }} upvote{{ story.score|pluralize }}
    &bullet;
    {{ story.comments }} comment{{ story.comments|pluralize }}
    &bullet;
    {{ story.date|date:'M d, Y'|lower }}
  </div>
    <div id="bookmark_hn">
      {% include 'services/includes/bookmark_sec.html' %}
    </div>
  </p>
</div>
      <div class="fb-share-button"
         data-href="{{ story.url }}"
         data-layout="button_count" data-size="small">
      <a target="_blank"
         href="https://www.facebook.com/sharer/sharer.php?u={{ story.url }}"
         class="fb-xfbml-parse-ignore">Share</a>
    </div>
    <a class="twitter-share-button"
       href="https://twitter.com/intent/tweet?text={{ story.url }}"
       data-size="large">
      Tweet</a>
    <a class="linkedin-share-button"
       href="https://www.linkedin.com/shareArticle?mini=true&url={{ story.url }}&title={{ story.title }}
  "
       data-size="large">
      LinkedIn</a>
</li>