<li>
  <div id="posttitle">
  <a href="{{ story.url }}" target="_blank" rel="nofollow noopener" id="ptitle">{{ story.title }}</a>
  <!--  <button type="bullet" value="reset">Bookmark this</button> -->
  </div>
<div class="postcontent">
  <p style=" text-transform: capitalize;">
    {{ story.score }} point{{ story.score|pluralize }}
    {{ story.date|date:'M d, Y'|lower }}
    <div id="bookmark_post">
  {% include 'services/includes/bookmark_sec.html' %}
</div>
  </p>
  <p style="font-size:17px; font-weight: bold;">
    {{ story.description }}
  </p>
</div>
</li>

