{% load startswith %}

<ul class="menu-services">
  <li><a href="{% url 'front_page' %}"{% if request.path == '/' %} class="active"{% endif %} class="button" style="
  text-transform: capitalize;"><span>Everything</span></a></li>
  {% for slug in services_slugs %}
    <li><a href="{% url 'services:index' slug.slug %}"{% if request.path|startswith:slug.slug %} class="active"{% endif %}class="button" style="
  text-transform: capitalize;"><span>{{ slug.name }}</span></a></li>
  {% endfor %}
</ul>
