{% load startswith %}
{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}Online Trending{% endblock %}</title>
<link href="{% static 'css/woid.css' %}" rel="stylesheet" >
{% block stylesheet %}{% endblock %}
</head>
<ul class="menu-services">
  <li><a href="{% url 'front_page' %}"{% if request.path == '/' %} class="active"{% endif %}  class="button"><span>front page</span></a></li>
  {% for slug in services_slugs %}
    <li><a href="{% url 'services:index' slug %}"{% if request.path|startswith:slug %}  class="active"{% endif %} class="button"><span>{{ slug }}</span></a></li>
  {% endfor %}
</ul>
