{% extends 'base.html' %}

{% block title %}Frequently Asked Questions{% endblock %}

{% block content %}
  <h2 style="text-transform: capitalize;" id="heading">FAQ</h2>
  <ol>
  	<li id="faq"><span style="font-weight: bold;">What is “trends”?</span>
  		<br>
  		Trends is a source for what's new and trending on the web. We provide content from different platforms in different categories ranging from health to news.
  	</li>
  	<li id="faq"><span style="font-weight: bold;">
  		How often does the website fetch trending articles?</span>
  		<br>
  		Every 30 minutes, articles are fetched from different platforms. So the front page is constantly in motion and (hopefully) filled with fresh, interesting links.
  	</li>
  	<li id="faq"><span style="font-weight: bold;">
  		Can anyone bookmark an article?</span>
  		<br>
  		No, anyone cannot bookmark an article. Only register users are allowed to use this feature.s
  	</li>
  	<li id="faq"><span style="font-weight: bold;">
  		Do I have to register to access all the categories?</span>
  		<br>
  		No, any guest user, as well as a registered user, can access all the categories.
  	</li>
  	<li id="faq"><span style="font-weight: bold;">
  		Can I reset the password?</span>
  		<br>
  		Yes, you can reset your password using the change password option on the right-most corner of your screen.
  	</li>
  	<li  id="faq"><span style="font-weight: bold;">
  		What if I forgot password?</span>
  		<br>
  		You can change your password using forgot password link. 
  	</li>
  	<li id="faq"><span style="font-weight: bold;">
  		Does this website have any provision to avoid eye strain during night time?</span>
  		<br>
  		Yes, we have provided with day/night mode to switch as per convenience. 
  	</li>

  	<li id="faq"><span style="font-weight: bold;">
  		How to bookmark an article ?</span>
  		<br>
  		To bookmark any article, click on the blue star on the left side of the article flex card.
  	</li>
  	
  	<li id="faq"><span style="font-weight: bold;">
  		Who can use the search feature to search the articles ?</span>
  		<br>
  		Any user (Register/Unregister) can use this feature.

  	</li>
  </ol>

{% endblock %}
