{% extends 'base.html' %}

{% block title %}Privacy Policy{% endblock %}

{% block content %}
  <h2 style="text-transform: capitalize;" id="heading">privacy policy</h2>
  <br>
  <div style=" font-size: 18px">
  	What data is collected?
  </div>
  <div style="font-size: 15px">
  	We only collect username, email-id , and password from a user during Sign-Up. 
  </div>
  <br>
  <div style=" font-size: 18px">
  	How we use this data ?
  </div>
  <div style="font-size: 15px">
  	We use this data to keep track of a user in our local database. We also use this data to provide a feature of bookmark to the user, so he/she can read his/her saved articles. 
  </div>
{% endblock %}
