{% extends 'base.html' %}

{% load humanize %}

{% block title %}Status{% endblock %}

{% block content %}
  <h2 id="heading" style="text-transform: capitalize;">Status</h2>

  <table class="status">
    <thead>
      <tr style="text-transform: capitalize;">
        <th>service</th>
        <th>status</th>
        <th>last update</th>
      </tr>
    </thead>
    <tbody>
      {% for service in services %}
      <tr>
        <td>{{ service.name }}</td>
        <td>{{ service.get_status_display }}</td>
        <td>
          {% if service.status == 'C' %}
          ~
          {% else %}
            {{ service.last_run|naturaltime }}
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  
{% endblock %}
