{% extends 'base.html' %}

{% block title %}Terms of Service{% endblock %}

{% block content %}
  <h2 style="text-transform: capitalize;" id="heading">terms of service</h2>  
Remember Online-Trending is for fun and is intended to be a place for your entertainment, but we still need some basic rules. By accessing or using our Services, you agree to be bound by these Terms. If you do not agree to these Terms, you may not access or use our Services.
<br>
<br>
Children under the age of 13 are not allowed to create an account or otherwise use the Services. Additionally, if you are in the European Economic Area, you must be over the age required by the laws of your country to create an account or otherwise use the Services, or we need to have received verifiable consent from your parent or legal guardian.
<br>
<br>
In addition, certain of our Services or portions of our Services require you to be older than 13 years of age, so please read all notices and any Additional Terms carefully when you access the Services.
If you are accepting these Terms on behalf of another legal entity, including a business or a government, you represent that you have full legal authority to bind such entity to these terms.

{% endblock %}
