{% extends 'base_nomenu.html' %}
{% load static %}
{% block content %}
<h1 id="heading">About Us  </h1>
{% load widget_tweaks %}
{% load staticfiles %}



  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>

   <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css'>

<div class="container">

  <div class="row heading">
    <div class="col-md-6 col-md-offset-3">
      <h2 class="text-center bottom-line">Meet Our Team</h2>
      <p class="subheading text-center">SEN Project -2019</p>
    </div>
  </div>

  <div class="row team-row">

    <div class="col-md-4 col-sm-6 team-wrap">
      <div class="team-member text-center">
        <div class="team-img">
          <img src="https://avatars1.githubusercontent.com/u/24381442?s=400&v=4" alt="">
          <div class="overlay">
            <div class="team-details text-center">
              <p>Hey Nidhi Write Here About Yourself!</p>
              <div class="socials mt-20">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-google-plus"></i></a>
                <a href="#"><i class="fa fa-envelope"></i></a>
              </div>
            </div>
          </div>
        </div>
        <h6 class="team-title">Nidhi Gupta</h6>
        <span>Team Leader</span>
      </div>
    </div>
    <!-- end team member -->

    <div class="col-md-4 col-sm-6 team-wrap">
      <div class="team-member text-center">
        <div class="team-img">
          <img src="https://avatars2.githubusercontent.com/u/22446326?s=400&v=4" alt="">
          <div class="overlay">
            <div class="team-details text-center">
              <p>
                Hey Raksha Write About Yourself Here!
              </p>
              <div class="socials mt-20">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-google-plus"></i></a>
                <a href="#"><i class="fa fa-envelope"></i></a>
              </div>
            </div>
          </div>
        </div>
        <h6 class="team-title">Raksha Rank</h6>
        <span>UI/UX Developer</span>
      </div>
    </div>
    <!-- end team member -->

    <div class="col-md-4 col-sm-6 team-wrap">
      <div class="team-member last text-center">
        <div class="team-img">
          <img src="https://avatars3.githubusercontent.com/u/25323981?s=400&v=4" alt="">
          <div class="overlay">
            <div class="team-details text-center">
              <p>
                Vishwa Write About Yourself Here!
              </p>
              <div class="socials mt-20">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-google-plus"></i></a>
                <a href="#"><i class="fa fa-envelope"></i></a>
              </div>
            </div>
          </div>
        </div>
        <h6 class="team-title">Vishwa Seth</h6>
        <span>UI/UX Designer</span>
      </div>
    </div>
    <!-- end team member -->

  </div>
</div>

{% endblock %}