{% extends 'base_nomenu.html' %}
{% load static %}
{% block content %}
<h1 id="heading">About Us  </h1>
{% load widget_tweaks %}
{% load staticfiles %}
 <link href="{% static 'css/woid.css' %}" rel="stylesheet">

<div class="container_about">
  <div  style="text-align: center; font-size: 22px; font-weight: bold ; padding-bottom: 3%;" >
    Meet Our Team of Software Engineering Project 2019!!
  </div>
  <table>
    <tr>
      <th class="profile">
        <img src="https://avatars1.githubusercontent.com/u/24381442?s=400&v=4" alt="" width="70%" height="70%" style="margin: 0%;">
        <div style="padding-top: 7%;">
        <a href="https://github.com/nidhi98gupta">Nidhi Gupta</a>
      </div>
        <h5 style="font-weight: bold">Team Leader and Backend Developer</h5>
      </th>
      <th class="profile">
        <img src="https://avatars0.githubusercontent.com/u/10548085?s=400&v=4" alt="" width="70%" height="70%" style="margin: 0%;">
        <div style="padding-top: 7%;">
        <a href="https://github.com/Tikam02">Tikam Alma</a>
      </div>
        <h5 style="font-weight: bold">Backend Developer</h5>
      </th>
      <th class="profile">
        <img src="https://avatars3.githubusercontent.com/u/37454172?s=400&v=4" alt="" width="70%" height="70%" style="margin: 0%;">
        <div style="padding-top: 7%;">
        <a href="https://github.com/sdhimmar006">Swapnil Dhimmar</a>
      </div>
        <h5 style="font-weight: bold">Backend Developer</h5>
      </th>
    </tr>
    <tr>
      <th class="profile">
        <img src="https://avatars0.githubusercontent.com/u/39519040?s=400&v=4" alt="" width="70%" height="70%" style="margin: 0%;">
        <div style="padding-top: 7%;">
        <a href="https://github.com/amey-ghate">Amey Ghate</a>
      </div>
        <h5 style="font-weight: bold">Tester</h5>
      </th>
      <th class="profile">
        <img src="https://avatars2.githubusercontent.com/u/22446326?s=400&v=4" alt="" width="70%" height="70%" style="margin: 0%;">
        <div style="padding-top: 7%;">
        <a href="https://github.com/RakshaRank">Raksha Rank</a>
      </div>
        <h5 style="font-weight: bold">Tester</h5>
      </th>
      <th class="profile">
        <img src="https://avatars0.githubusercontent.com/u/25372047?s=400&v=4" alt="" width="70%" height="70%" style="margin: 0%;">
        <div style="padding-top: 7%;">
        <a href="https://github.com/ChiragPoddar99">Chirag Poddar</a>
      </div>
        <h5 style="font-weight: bold">Tester</h5>
      </th>
    </tr>
    <tr>
      <th class="profile">
        <img src="https://avatars2.githubusercontent.com/u/25323981?s=460&v=4" alt="" width="70%" height="70%" style="margin: 0%;">
        <div style="padding-top: 7%;">
        <a href="https://github.com/Vishwa-Sheth">Vishwa Sheth</a>
      </div>
        <h5 style="font-weight: bold">UI/UX Developer</h5>
      </th>
      <th class="profile">
        <img src="https://avatars0.githubusercontent.com/u/25386244?s=400&v=4" alt="" width="70%" height="70%" style="margin: 0%;">
        <div style="padding-top: 7%;">
        <a href="https://github.com/shreya1706">Shreya Sagar</a>
      </div>
        <h5 style="font-weight: bold">UI/UX Developer</h5>
      </th>
    </tr>
  </table>

</div>
</div>

{% endblock %}