{% extends 'base.html' %}

{% block content %}

<h1>Bookmarks </h1>

{% if user.is_authenticated %}
	{% for story in bookmarks %}
		{% if story.user.id == user.id %}
			 <a href="{{ story.obj.url }}" target="_blank" rel="nofollow noopener" style="font-size:25px">{{ story.obj.title }}</a>
			 <p style="font-size:17px">
    			{{ story.obj.description }}
  			 </p>
  			 <img src= {{ story.obj.image_url }} alt="We could not display the image" height=150>
  			  <button type="button" class="btn btn-link">
  			  	<span class="star glyphicon glyphicon-star"></span></button>
  			 <br>
  			 <br>
		{% endif %}
	{% endfor %}
{% endif %}

{% endblock %}


