<div id="search">
<form action="{% url 'search' %}" method="GET" value="{{ request.GET.q }}">
  <div class="row">
    <div class="col-xs-6 col-md-4">
      <div class="input-group">
        <input
                type="text"
                class="form-control"
                placeholder="Search"
                id="txtSearch"
                name = "q"
                value="{{request.GET.q}}"/>
        <div class="input-group-btn">
          <button class="btn btn-primary" type="submit" name="submit" value="Search">
            <span class="glyphicon glyphicon-search"></span>
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
</div>
